<mat-toolbar class="fxwrapper" fxLayoutAlign="center center">
 
   <div fxLayout="row" fxFlex="20">   
        <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
   </div> 
   <div fxLayout="row" fxFlex="60" fxLayoutAlign="center end">    
        <form class="example-form mt-20px">
            <mat-form-field class="example-full-width" >
              <input type="text" matInput placeholder="Search">
              <mat-icon class="tranformonY" matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
   </div> 
   <div fxLayout="row" fxFlex fxLayoutAlign="end center"> 
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
   </div> 

  </mat-toolbar>
